<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Genotower Defense</title>
    </head>
    <body ng-app ="genotowerApp">
        <div ng-controller="genotowerCtrl">
            <h1>
            Genotowers
            </h1>

            <div>
                <span>{{ "Mutation Rate: " + mutationRate }}%</span>
            </div>
            
            <input type="range" min="0" max="100" ng-model="mutationRate">
            
            <div ng-style="{ width: mutationRate + '%' || '0%' }">
            </div>

            <button ng-click="startGame()">
            Start Game
            </button>
        </div>

        <script src="assets/ecmaScript/angular.js"></script>
        <script src="assets/ecmaScript/phaser.min.js"></script>
        <script src="assets/ecmaScript/p2.min.js"></script>
        <script src="assets/ecmaScript/genotower.js"></script>
        <script src="assets/ecmaScript/config.js"></script>
        <script src="assets/ecmaScript/aStar.js"></script>
        <script src="assets/ecmaScript/chromosome.js"></script>
        <script src="assets/ecmaScript/generation.js"></script>
        <script src="assets/ecmaScript/wall.js"></script>
        <script src="assets/ecmaScript/floor.js"></script>
        <script src="assets/ecmaScript/tower.js"></script>
        <script src="assets/ecmaScript/map.js"></script>
        <script src="assets/ecmaScript/path.js"></script>
        <script src="assets/ecmaScript/geneticAlgorithm.js"></script>
        <script src="assets/ecmaScript/run.js"></script>
        <script src="assets/ecmaScript/angularApp.js"></script>

        <div id="genotowerDefense"></div>
    </body>
</html>
