<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Genotower Defense</title>
    </head>
    <body ng-app ="genotowerApp">
        <div ng-controller="genotowerCtrl">
            <h1>
            Genotowers
            </h1>

            <li ng-repeat="setting in userSettings">
                <div>
                    <span>{{ setting.title + ": " + setting.value }}</span>
                </div>
                <input type="range" min="0" max={{setting.max}} ng-model="setting.value">
            </li>

            <button ng-click="startGame()">
            {{ buttonText }}
            </button>
        </div>

        <script src="assets/ecmaScript/angular.js"></script>
        <script src="assets/ecmaScript/phaser.min.js"></script>
        <script src="assets/ecmaScript/p2.min.js"></script>
        <script src="assets/ecmaScript/genotower.js"></script>
        <script src="assets/ecmaScript/config.js"></script>
        <script src="assets/ecmaScript/aStar.js"></script>
        <script src="assets/ecmaScript/chromosome.js"></script>
        <script src="assets/ecmaScript/generation.js"></script>
        <script src="assets/ecmaScript/wall.js"></script>
        <script src="assets/ecmaScript/floor.js"></script>
        <script src="assets/ecmaScript/tower.js"></script>
        <script src="assets/ecmaScript/map.js"></script>
        <script src="assets/ecmaScript/path.js"></script>
        <script src="assets/ecmaScript/geneticAlgorithm.js"></script>
        <script src="assets/ecmaScript/run.js"></script>
        <script src="assets/ecmaScript/angularApp.js"></script>

        <div id="genotowerDefense"></div>
    </body>
</html>
